/* Conteneur principal */
#wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  /* Contenu principal */
  #content {
    flex-grow: 1;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Volet coulissant */
  #sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  /* Bouton pour ouvrir/fermer le volet coulissant */
  #open-sidebar {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 20px;
    color: white;
  }