<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"> <!--determine la facon dont le texte est transmis et stocké -->
  <title>Mon interface avec volet coulissant</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{% static 'myapp/js/script.js' %}"></script>
  <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
</head>

<body>
  <div id="wrapper">
    <div id="sidebar">
      <!-- Contenu du volet coulissant -->
    </div>
    <div id="content">
      <!-- Contenu principal -->
    </div>
  </div>
</body>
</html>


